! Each line in the distillers database has the following format:
!       <distiller-type>: <executable-path>
!

all/passthru: /disks/barad-dur/wolfpack/users/yatin/research/tcsproxy/ptm/dist
text/html: ../html_munger/html_munge
image/gif: ../gif_munger/gif_munge
