# Which partitions we are going to use to begin with
Partition u30.cs.berkeley.edu u31.cs.berkeley.edu
Partition u32.cs.berkeley.edu u33.cs.berkeley.edu

# The timeout for each UDP receive done while doing a cache query
UDP_timeout_sec  0          # seconds
UDP_timeout_usec 99000      # microseconds

# The number of UDP queries done during a cache query until we give up
UDP_retries 3
